<div class="overlay">
  <div class="header">
    <h1 style="text-align: center">GithubSearch</h1>
  </div>
  
  <div class="row" class="search-bar">
      <div class="container-fluid" class="mb-4 row" class="search-form">
        <!-- Search form -->
        <label for="input" class="col-sm-2 col-form-label">Search</label>
        <div class="col-sm-10">
          <input
          class="form-control"
          name="userName"
          type="text"
          (keyup)="getUsername($event)"
          [(ngModel)]="userName"
          placeholder="Search"
          aria-label="Search"
        />
      </div>
        
      
    </div>
    
    <div class="mb-4">
      <a
        target="_blank"
        class="btn btn-secondary btn-sm-xs"
        type="button"
        (click)="getUsername($event)"
        >Find User
        <i class="fas fa-search ml-2 animated wobble infinite"></i>
      </a>
    </div>
    
    <div class="form-group mb-4">
      <a
        target="_blank"
        class="btn btn-secondary btn-sm-xs"
        type="button"
        (click)="getRepos()"
      >
        Show Repos
        <i class="fas fa-search ml-2 animated wobble infinite"></i>
      </a>
    </div>
  </div>
  <!-- Content -->
  
  <!-- Mask & flexbox options-->
  
  <!--/First slide-->
  <!--/.Slides-->
  <!--Main layout-->
  <main>
    <div class="container">
      <!--Section: Main info-->
      <section class="mt-5 wow fadeIn">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <img
              src="{{ users.avatar_url }}"
              class="img-fluid z-depth-1-half"
              alt=""
            />
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-md-6 mb-4">
            <!-- card start -->
            <!-- Card -->
            <div class="card">
              <!-- Card content -->
              <div class="card-body">
                <!-- Title -->
                <h4 class="card-title animated fadeInRight">
                  <p class="text-info">Github-User Found: {{ users.login }}</p>
                </h4>
                <!-- <div *ngIf="loading"> <h3>loading  <i class="fas fa-spinner animated rotateIn infinite "></i></h3></div> -->
                <hr />
                <!-- Text -->
  
                <ul class="card-text list-group list-group-flush">
                  <li class="list-group-item animated fadeInRight">
                    <i class="fas fa-user-friends"></i> Followers:
                    {{ users.followers }}
                  </li>
  
                  <li class="list-group-item animated fadeInRight">
                    <i class="fas fa-users f0c0"></i> Following:
                    {{ users.following }}
                  </li>
  
                  <li class="list-group-item animated fadeInRight">
                    <i class="fas fa-folder-open"></i> No of public repos:
                    {{ users.public_repos }}
                  </li>
  
                  <li class="list-group-item animated fadeInRight">
                    <i class="far fa-clock pr-1"></i> Joined on:
                    {{ users.created_at | date }}
                  </li>
                </ul>
              </div>
              <!-- Card footer -->
              <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                <ul class="list-unstyled list-inline font-small">
                  <li class="list-inline-item pr-2">
                    <a href="#" class="white-text"
                      ><i class="fas fa-user-friends"></i>
                      {{ users.followers }}</a
                    >
                  </li>
  
                  <li class="list-inline-item pr-2">
                    <a href="#" class="white-text"
                      ><i class="fas fa-users f0c0"></i> {{ users.following }}</a
                    >
                  </li>
  
                  <li class="list-inline-item">
                    <a href="#" class="white-text"
                      ><i class="far fa-clock pr-1"></i>
                      {{ users.created_at | date }}</a
                    >
                  </li>
                </ul>
              </div>
            </div>
            <!-- Card -->
            <!-- card end -->
            <!-- CTA -->
            <a
              target="_blank"
              href="{{ users.html_url }}"
              class="btn btn-grey btn-md"
            >
              Checkout on Github
              <i class="fas fa-fighter-jet"></i>
            </a>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!--Section: Main info-->
  
      <hr class="my-5" />
  
      <!--Section: Main features & Quick Start-->
      <section>
        <h3 class="h3 text-center mb-5 text-info animated fadeInRight">
          Found Repositories
        </h3>
  
        <!--Grid row-->
        <div class="row wow fadeIn">
          <div class="col-md-4 card" *ngFor="let repo of repository">
            <!-- <div class="card"> -->
            <!-- Card content -->
            <div class="card-body">
              <!-- Title -->
              <h4 class="card-title animated fadeInRight">
                <p class="text-info">{{ repo.name }}</p>
              </h4>
              <hr />
              <!-- Text -->
              <ul class="card-text list-group list-group-flush">
                <li class="list-group-item animated fadeInRight">
                  <i class="fas fa-fingerprint"></i> Repo ID: {{ repo.id }}
                </li>
  
                <li class="list-group-item animated fadeInRight">
                  <i class="fas fa-globe-americas"></i> Repo Name: {{ repo.name }}
                </li>
  
                <li class="list-group-item animated fadeInRight">
                  <i class="fas fa-file-signature"></i> Repo Description:
                  {{ repo.description }}
                </li>
              </ul>
            </div>
  
            <!-- Card footer -->
            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
              <ul class="list-unstyled list-inline font-small">
                <a
                  target="_blank"
                  href="{{ repo.html_url }}"
                  class="btn btn-grey btn-md"
                >
                  Checkout on Github
                  <i class="fas fa-fighter-jet"></i>
                </a>
              </ul>
            </div>
            <!-- </div> -->
          </div>
        </div>
        <!--/Grid row-->
      </section>
      <!--Section: Main features & Quick Start-->
  
      <hr class="my-5" />
  
      <!--Section: Not enough-->
    </div>
  </main>
  <!--Main layout-->
  
  <!--Footer-->
  <footer class="page-footer text-center font-small mt-4 wow fadeIn">
    <!--Call to action-->
    <!-- <div class="pt-4 scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}" >
      <a class="btn btn-outline-white" href="#" role="button" >Scroll to Top -->
    <i class="fas fa-arrow-up"></i>
    <a
      class="btn btn-outline-white"
      href="https://github.com/Mikemunene16/"
      target="_blank"
      role="button"
      >Visit on Github
      <i class="fas fa-rocket"></i>
    </a>
    <!-- </div> -->
    <!--/.Call to action-->
  
    <hr class="my-4" />
  
    <!-- Social icons -->
    <div class="pb-4">
      <a href="https://www.facebook.com/" target="_blank">
        <i class="fab fa-facebook-f mr-3"></i>
      </a>
  
      <a href="https://twitter.com/" target="_blank">
        <i class="fab fa-twitter mr-3"></i>
      </a>
  
      <a href="https://www.youtube.com/" target="_blank">
        <i class="fab fa-youtube mr-3"></i>
      </a>
  
      <a href="https://plus.google.com/" target="_blank">
        <i class="fab fa-google-plus-g mr-3"></i>
      </a>
  
      <a href="https://dribbble.com/" target="_blank">
        <i class="fab fa-dribbble mr-3"></i>
      </a>
  
      <a href="https://pinterest.com/" target="_blank">
        <i class="fab fa-pinterest mr-3"></i>
      </a>
  
      <a href="https://github.com/" target="_blank">
        <i class="fab fa-github mr-3"></i>
      </a>
  
      <a href="http://codepen.io/" target="_blank">
        <i class="fab fa-codepen mr-3"></i>
      </a>
    </div>
    <!-- Social icons -->
  
    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2022 Copyright:
      <a href="#" target="_blank"> Mike Munene </a>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  
</div>