.overlay{
    background-color:aliceblue;
    background-position: center;
    border-radius: 5px;
    margin-top:4%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
    padding-top: 1%;
    padding-left: 1%;
    padding-bottom: 5%;
    box-shadow: 2px 2px 3px 2px black;
}

.search-bar{
    box-shadow: 2px 2px 3px 2px black;
    justify-content: center;
    border-radius: 5px;
    /* display: flex; */
    justify-content: center;
    height: 40vh;
    width: 100vh;
    text-align: center;
}

.btn{
    border: 2px black;
}

.col-sm-10{
    justify-content: center;
    padding: 10px;
}

.container{
    box-shadow: 2px 2px 3px 2px black;
    
}

/* .card-body{
    padding-top: 20px;
    justify-content: center;
    
} */